<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
  </head>
  <body>
    
    <main>
      <section class="home-content"></section>
    </main>
    
    <footer>
      <br />
      <p>
        <strong>ApexDefense Solutions</strong><br />
        <i>Secure Tommorow, Today</i>
      </p>
      <br>
      <p>
        &copy; 2024 ApexDefense Solutions. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>